@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./color.scss";

.home {
  font-family: "Jost", sans-serif;
}

.description {
  width: auto;
  height: 270px;
  padding: 7.26vw 21.81vw 7.5vw 21.53vw;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  #desc-title {
    height: 65px;
    font-size: 50px;
    font-weight: 500;
    margin-top: -80px;
  }

  #desc-info {
    height: 38px;
    font-size: 31px;
    font-weight: 300;
    margin-top: -50px;
  }
}

.icons {
  width: 56.67vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  #icon1 {
    width: 10.76vw;
    height: 155px;
    margin: 0px 4.64vw 0px 0px;
  }

  #icon2 {
    width: 10.56vw;
    height: 142px;
    align-self: flex-start;
    margin: 0.42vw 5.54vw 0px 0px;
  }

  #icon3 {
    width: 10.76vw;
    height: 155px;
  }

  #arrow1 {
    width: 2.26vw;
    height: 27.2px;
    align-self: flex-end;
    margin: 0px 5.54vw 4.2vw 0px;
  }

  #arrow2 {
    width: 2.26vw;
    height: 27.2px;
    align-self: flex-end;
    margin: 0px 4.36vw 4.2vw 0px;
  }
}

.upload {
  text-align: center;
  margin-top: -1395px;
  align-items: center;

  #upload-button {
    font-family: "Jost", sans-serif;
    font-weight: 440;
    font-size: 29px;
    color: white;
    width: 382px;
    height: 90px;
    transition-duration: 0.4s;
    background-color: #4d3ac0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 50px;
  }

  #upload-button:hover {
    background-color: #8072cb;
    cursor: pointer;
  }
}

.background {
  height: 1353px;
  width: auto;
  left: 0px;
  border-radius: 0px;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9;

  #genre-dropdown {
    top: 100px;
    position: relative;
    text-align: justify;
  }

  #mood-dropdown {
    top: 150px;
    position: relative;
    text-align: justify;
  }

  #numPlay-dropdown {
    top: 200px;
    position: relative;
    text-align: justify;
  }
}
